<footer class="text-muted py-5">
    <div class="containerFooter">
        <p class="mb-1">Plantilla de ejemplo &copy; Bootstrap,<br>personalizada para una pagina de biblioteca!</p>
        <p class="mb-0">¿Nuevo en Bootstrap? <a href="https://getbootstrap.com/"><br>Visita la pagina</a> o Ejemplo de error <a href="../getting-started/introduction/">redireccion a Error</a>.</p>
        <p class="float-end mb-1">
            <a href="#" style="text-decoration:none"><span>⬆️</span> Volver Arriba</a>
        </p>
    </div>
</footer>
